.innerContent{
    background:#fff;
}
.dialog-title {
    padding-top: 15px;
    text-align:center;
    font-weight:normal;
}

.dialog-info {
    padding: 14px;
    min-height: 50px;
}

.dialog-footer {
    display: flex;
    height: 45px;
    position: relative;

    &:before {
        content: "";
        width: 100%;
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;
        height: 1px;
        background: #000;
        opacity: .6;
        transform: scaleY(.5);
    }

    >div {
        flex: 1;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        &:last-child {
            color: orange;
            position: relative;

            &:before {
                content: "";
                height: calc(100% - 0.5px);
                margin-top: 1px;
                display: inline-block;
                position: absolute;
                left: 0;
                top: 0;
                width: 1px;
                background: #000;
                opacity: .6;
                transform: scaleX(.5);
            }
        }
    }
}