@import '../../css/varable';
button{
    background:orangered;
    color:#fff;
    padding:5px 10px;
    font-size:14px;
    margin:5px 15px;
    border-radius:6px;
}
.icon{
    @include px2rem((
        width:48px,
        height:48px,
    ));
    background:$base-color;
}