$base-color:#FF6A22;
@function Mosaic($b) {
    $v:"";
    @each $va in $b{
      @if (type-of($va)=='number'){
                  @if unit($va)=='px'{
                    $v:$v+" "+unquote(($va/1px)/16+'rem');
                  }
                  @else if(unitless($va)){
                    $v:$v+" "+unquote(($va/16)+'rem');
                  }
                  @else if(unit($va)=='em'){
                      $v:$v+" "+$va;
                  }
      }@else{
        $v:$v+" "+$va
      }
    };
    @return unquote($v);
}

@mixin px2rem($props){
  @each $name,$value in $props {
    @if (type-of($value)=='string'){
      #{$name}:unquote($value);
    }
    @else{
        #{$name}:Mosaic($value);
    }
  }
}


#one{
  @include px2rem((
        width:16px,
        height:20px,
        color:#fff,
        word-break:'break-all',
        border:solid 1px #ededed,
        margin:13px 16 14px 18px,
        line-height:20px
         
  ));
}